<nav class="navbar navbar-expand-lg navbar-light bg-light mt-3 sticky-top">
    <a class="navbar-brand mx-5" routerLink="/home">
        <img src="assets/img/spoon.png" alt="">
    </a>


    <div class="w-100" id="navbarSupportedContent">
        <ul class="navbar-nav w-100">
            <li class="nav-item" *ngFor="let item of BranchesType;let i=index">
                <a class="nav-link" [routerLink]="['/resturants',i]" routerLinkActive="active">{{ item.name }}</a>
            </li>
        </ul>
        <div class="clearfix"></div>

        <div class="dropdown d-none">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
               <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="nav-item" *ngFor="let item of BranchesType;let i=index">
                    <a class="nav-link dropdown-item" [routerLink]="['/resturants',i]" routerLinkActive="active">{{ item.name }}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
