<section class="header mt-3">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="content">
                    <p>هذا الموقع يقدم مجموعة مطاعم لتتعرف على كل المأكولات فى كل مطعم</p>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="resturants mt-3 mb-5" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="w-100 h-100 p-2 resturant_container">
                    <div class="img_container">
                        <img src="assets/img/resturant.png" class="w-100 h-100">
                    </div>
                    <div class="mt-4 w-100">
                        <div class="resturant_name">
                            <h5 class="w-100">مطعم بوتاستا</h5>
                        </div>
                        <app-stars></app-stars>
                    </div>

                    <p class="text-muted h-25">
                        يقدم ويف للماكولات والمشروبات ويف للماكولات والمشروبات
                    </p>

                    <div class="clearfix"></div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="w-100 h-100 p-2 resturant_container">
                    <div class="img_container">
                        <img src="assets/img/resturant_01.png" class="w-100 h-100">
                    </div>
                    <div class="mt-4 w-100">
                        <div class="resturant_name">
                            <h5 class="w-100">مطعم دليفرى</h5>
                        </div>
                        <app-stars></app-stars>
                    </div>

                    <p class="text-muted h-25">
                        يقدم ويف للماكولات والمشروبات ويف للماكولات والمشروبات
                    </p>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="resturants-types" dir="rtl">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item mx-3" role="presentation">
                        <button class="nav-link text-muted btn active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">قائمة الطعام</button>
                    </li>
                    <li class="nav-item mx-3" role="presentation">
                        <button class="nav-link text-muted btn" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">وجبتى المفضلة</button>
                    </li>
                    <li class="nav-item mx-3" role="presentation">
                        <button class="nav-link text-muted btn" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">التقيم</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="row mt-4">
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_07.png" class="w-100 h-100" alt="">
                                </div>
                                <div class="resturants_types_container">
                                    <p>حلويات</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_05.png" class="w-100 h-100" alt="">
                                </div>

                                <div class="resturants_types_container">
                                    <p>سلطة</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_01.png" class="w-100 h-100" alt="">
                                </div>

                                <div class="resturants_types_container">
                                    <p>مخبوزات</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_04.png" class="w-100 h-100" alt="">
                                </div>

                                <div class="resturants_types_container">
                                    <p>خضار</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_03.png" class="w-100 h-100" alt="">
                                </div>
                                <div class="resturants_types_container">
                                    <p>مكرونة</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        <div class="row mt-4">
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_07.png" class="w-100 h-100" alt="">
                                </div>
                                <div class="resturants_types_container">
                                    <p>حلويات</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_05.png" class="w-100 h-100" alt="">
                                </div>

                                <div class="resturants_types_container">
                                    <p>سلطة</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_01.png" class="w-100 h-100" alt="">
                                </div>

                                <div class="resturants_types_container">
                                    <p>مخبوزات</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_04.png" class="w-100 h-100" alt="">
                                </div>

                                <div class="resturants_types_container">
                                    <p>خضار</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_03.png" class="w-100 h-100" alt="">
                                </div>
                                <div class="resturants_types_container">
                                    <p>مكرونة</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                        <div class="row mt-4">
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_07.png" class="w-100 h-100" alt="">
                                </div>
                                <div class="resturants_types_container">
                                    <p>حلويات</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_05.png" class="w-100 h-100" alt="">
                                </div>

                                <div class="resturants_types_container">
                                    <p>سلطة</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_01.png" class="w-100 h-100" alt="">
                                </div>

                                <div class="resturants_types_container">
                                    <p>مخبوزات</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_04.png" class="w-100 h-100" alt="">
                                </div>

                                <div class="resturants_types_container">
                                    <p>خضار</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="img_container">
                                    <img src="assets/img/food_03.png" class="w-100 h-100" alt="">
                                </div>
                                <div class="resturants_types_container">
                                    <p>مكرونة</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="resturants-offers mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="customOptions1">

                    <ng-template carouselSlide>

                        <div class="img_container">
                            <img src="https://backend.eizymenu.com/storage/ranking/ACQeAqv5Wq8lzFVpULzEHEdV0GHI8Y7dw88IEypc.png" class=" w-100 h-100 ">
                        </div>
                        <div class="clearfix "></div>
                        <div class="w-100 h-100 p-2 resturant_container mb-5" dir="rtl">

                            <div class="mt-4 w-100 ">
                                <div class="resturant_name ">
                                    <h5 class="w-100 "> مطعم بيتزا</h5>
                                </div>
                                <app-stars></app-stars>
                            </div>

                            <p class="text-muted h-25 "> يقدم بيتزا جونس </p>
                            <p class="text-muted">سعر الوجبة
                                <span class="mx-1 text-danger">200 جنية</span>
                            </p>
                            <div class="mb-3 mt-3">
                                <button class="btn btn-order text-danger">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                اطلب الأن

                              </button>
                                <div class="bg-light-danger float-start mx-3 mt-1">
                                    <i class="fa fa-heart-o text-danger" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="clearfix "></div>

                        </div>
                    </ng-template>

                    <ng-template carouselSlide>

                        <div class="img_container ">
                            <img src="assets/img/header.jpg" class="w-100 h-100 ">
                        </div>
                        <div class="clearfix "></div>
                        <div class="w-100 h-100 p-2 resturant_container mb-5" dir="rtl">

                            <div class="mt-4 w-100 ">
                                <div class="resturant_name ">
                                    <h5 class="w-100 "> مطعم مطبخ الشيف مريم </h5>
                                </div>
                                <app-stars></app-stars>
                            </div>

                            <p class="text-muted h-25 ">
                                يقدم مطبخ الشيف مريم مطبخ الشيف مريم
                            </p>
                            <p class="text-muted">سعر الوجبة
                                <span class="mx-1 text-danger">200 جنية</span>
                            </p>
                            <div class="mb-3 mt-3">
                                <button class="btn btn-order text-danger">
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                    اطلب الأن

                                  </button>
                                <div class="bg-light-danger float-start mx-3 mt-1">
                                    <i class="fa fa-heart-o text-danger" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="clearfix "></div>

                        </div>
                    </ng-template>

                    <ng-template carouselSlide>

                        <div class="img_container ">
                            <img src="assets/img/header_02.jpg" class="w-100 h-100 ">
                        </div>
                        <div class="clearfix "></div>
                        <div class="w-100 h-100 p-2 resturant_container mb-5" dir="rtl">

                            <div class="mt-4 w-100 ">
                                <div class="resturant_name">
                                    <h5 class="w-100 ">
                                        مطعم ويف للماكولاته
                                    </h5>
                                </div>
                                <app-stars></app-stars>
                            </div>

                            <p class="text-muted h-25 ">
                                يقدم ويف للماكولات والمشروبات
                            </p>

                            <p class="text-muted">سعر الوجبة
                                <span class="mx-1 text-danger">200 جنية</span>
                            </p>
                            <div class="mb-3 mt-3">
                                <button class="btn btn-order text-danger">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                اطلب الأن

                              </button>
                                <div class="bg-light-danger float-start mx-3 mt-1">
                                    <i class="fa fa-heart-o text-danger" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="clearfix "></div>

                        </div>
                    </ng-template>

                </owl-carousel-o>
            </div>

            </ div>
        </div>
</section>
