        .resturants {
            text-align: right;
            .resturant_name {
                width: 94%;
            }
            p {
                margin-top: -11px;
            }
            .bg-light-danger {
                background: #f7e1ea;
                border-radius: 50%;
                width: 27px;
                height: 27px;
                cursor: pointer;
                .fa-heart-o {
                    margin: 0px 5px;
                    line-height: 29px;
                }
            }
            a {
                text-decoration: none;
                cursor: pointer;
            }
            .img_container {
                width: 59px;
                height: 55px;
                position: absolute;
                margin-right: 553px;
                margin-top: -30px;
                // border-bottom: 6px solid rgb(245, 129, 129);
                border-radius: 50%;
                img {
                    border-radius: 50%;
                    border-bottom: 6px solid rgb(245, 129, 129);
                }
            }
            .clearfix {
                clear: both;
            }
            .resturant_container {
                box-shadow: 0 5px 19px 0 rgba(241, 219, 236, 0.983);
                border-radius: 11px;
            }
        }

        @media (max-width: 992px) {
            .resturants .img_container {
                margin-right: 246px;
            }
        }
